<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>تعديل الترنيمة</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>تعديل الترنيمة</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="section-card">
                <h3 class="section-title">اسم الترنيمة:</h3>
                <input type="text" name="title" value="{{ hymn[1] }}" placeholder="اسم الترنيمة" required>
            </div>
            <br>
            <br>
            <div class="section-card">
                <h3 class="section-title">تصنيف الترنيمة:</h3>
                {% set categories = ["رأس السنة", "الميلاد", "الصوم الكبير", "أسبوع الآلام", "القيامة", "العذراء", "النيروز", "التسليم", "التوبة"] %}
                    <select id="category" name="category" required>
                        <option value="">اختر التصنيف</option>
                        <option value="رأس السنة" {% if hymn[2] == "رأس السنة"%}selected{% endif %}>رأس السنة</option>
                        <option value="الميلاد" {% if hymn[2] == "الميلاد"%}selected{% endif %}>الميلاد</option>
                        <option value="الصوم الكبير" {% if hymn[2] == "الصوم الكبير"%}selected{% endif %}>الصوم الكبير</option>
                        <option value="أسبوع الآلام" {% if hymn[2] == "أسبوع الآلام"%}selected{% endif %}>أسبوع الآلام</option>
                        <option value="القيامة" {% if hymn[2] == "القيامة"%}selected{% endif %}>القيامة</option>
                        <option value="العذراء" {% if hymn[2] == "العذراء"%}selected{% endif %}>العذراء</option>
                        <option value="النيروز" {% if hymn[2] == "النيروز"%}selected{% endif %}>النيروز</option>
                        <option value="التسليم" {% if hymn[2] == "التسليم"%}selected{% endif %}>التسليم</option>
                        <option value="التوبة" {% if hymn[2] == "التوبة"%}selected{% endif %}>التوبة</option>
                        <option value="أخرى" {% if hymn[2] not in categories %}selected{% endif %}>أخرى</option>
                    </select>
                <div id="other-category-box" style="display: none;">
                    <br>
                    <input type="text" id="other-category" value="{% if hymn[2] not in categories %}{{ hymn[2] }}{% endif %}" placeholder="اكتب التصنيف هنا">
                </div>
            </div>
            <br>
            <br>
            <div class="section-card">
                <h3 class="section-title">ملف الترنيمة:</h3>
                <input type="file" id="audio" name="audio" accept=".mp3">
            </div>
            <br>
            <br>
            <div class="section-card">
                <div class="lyrics-section">
                    <h3 class="section-title">كلمات الترنيمة:</h3>
                    <div class="lyrics-options">
                        <div class="lyrics-buttons">
                            <button type="button" id="pasteBtn">الصق الكلمات</button>
                            <button type="button" id="fileBtn">اختر ملف txt</button>
                        </div>
                        <div id="pasteBox">
                            <label for="lyrics">الصق كلمات الترنيمة هنا:</label>
                            <textarea id="lyrics" name="lyrics" rows="7" placeholder="الصق كلمات الترنيمة هنا">{{ hymn[4] }}</textarea>
                        </div>
                        <div id="fileBox" style="display: none;">
                            <label for="lyrics_file">اختر ملف txt:</label>
                            <input type="file" id="lyrics_file" name="lyrics_file" accept=".txt">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <button type="submit" class="main-btn">حفظ</button>
        </form>
    </div>
    <script>
        const pasteBtn = document.getElementById("pasteBtn");
        const fileBtn = document.getElementById("fileBtn");

        const pasteBox = document.getElementById("pasteBox");
        const fileBox = document.getElementById("fileBox");

        pasteBtn.onclick = function(){
            pasteBox.style.display = "block";
            fileBox.style.display = "none";
        };

        fileBtn.onclick = function(){
            pasteBox.style.display = "none";
            fileBox.style.display = "block";
        };
    </script>
    <script>
        const lyricsFile = document.getElementById("lyrics_file");
        const lyricsBox = document.getElementById("lyrics");

        lyricsFile.onchange = function(){
            const file = lyricsFile.files[0];
            if(file){
                const reader = new FileReader();
                reader.onload = function(e){
                    lyricsBox.value = e.target.result;
                };
                reader.readAsText(file, "UTF-8");
            }
        };
    </script>
    <script>
        const category = document.getElementById("category");
        const otherCategoryBox = document.getElementById("other-category-box");
        const otherCategory = document.getElementById("other-category");

        category.addEventListener("change", function() {
            if (this.value === "أخرى") {
                otherCategoryBox.style.display = "block";
                otherCategory.name = "category";
                category.name = "";
            } else {
                otherCategoryBox.style.display = "none";
                otherCategory.name = "";
                category.name = "category";
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            category.dispatchEvent(new Event("change"));
        });
    </script>
    <footer>
        <h3>ترانيمي</h3>
        <p>جميع الحقوق محفوظة 2026 &copy;</p>
    </footer>
</body>
</html>